{% extends "AppAvanci/padre.html"%} <!-- trae todo lo de padre.html-->

{% load static %} <!-- trae lo de los archivos de static, que sirva para que la pagina se vea bien-->

{% block contenidoquecambia %} <!-- la palabra seguida de "block debe ser igual en este archivo como en el archivo padre"-->

<h1>Este es el título de Inicio que cambió</h1>
<p>se ha heredado todo desde la plantilla padre</p>
<h3>en el hijo (inicio.html) no hay casi nada de código, que es desde donde estoy escribiendo</h3>

{% endblock %} <!-- lo que esté dentro de este bloque se insertará en el mismo bloque llamado igual pero-->
                <!-- vacío en el archivo padre.html-->
